.page {
  --background: #ededed;
  --foreground: #ededed;

  --text-primary: #000;
  --text-secondary: #666;

  --button-hover: #265426;
  --button-checked: #C06E52;
  --button-hover-text: #ededed;
  --label-background: #72C072;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: var(--foreground);
  padding: 10vw 5vw;
}

.intro {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1em;
  width: 100%;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  align-self: center;
  color: var(--text-primary);
}

.body h2 {
  max-width: 95em;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
  font-size: 14px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
    flex-wrap: wrap;
  }

  .intro h1, .body h2{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }

  .ctas {
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --label-background: #265426;
    --button-hover-text: #242424;
    --button-hover: #72C072;
    --button-checked: #C06E52;
  }
}