span{
  border: 1ch;
  background-color: var(--label-background);
  border-radius: 2%;
  margin-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.ctas {
  display: flex;
  width: 100%;
}

a {
  margin-top: auto;
  margin-bottom: auto;
}

.dietary-reqs-div {
  display: inline-flex;
}

.dietary-header {
  display: inline;
}

.restr-element {
  margin-left: 1%;
}

.food-group {
  display: inline-flex;
}

.food-group-header {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
}

.food-option {
  text-align: center;
  text-wrap: balance;
  border: 0.1rem solid var(--label-background);
  border-radius: 2%;
  align-content:space-between;
  width: 20%;
  min-width: 120px;
  height: 3rem;
  margin: 0.1rem;
  display: block;
  overflow: hidden;
  align-items: flex-end
}

.food-svgs {
  display: grid;
  grid: 100% / 13% auto 13% 2% 13%;
  margin: 2%;
}

.svg-btn {
  aspect-ratio: 1 / 1;
  background: none;
	color: inherit;
	border: none;
}

.cross-btn {
  grid-column-start: 5;
}

.refresh-btn {
  grid-column-start: 3;
}

.svg-btn:focus{
  outline: revert;
}

.dropdown {
  grid-column-start: 1;
  width: 100%
}

.refresh {
  grid-column-start: 3;
  width: 100%
}
.cross {
  grid-column-start: 5;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.go-back-link {
  text-decoration: underline;
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  
}

.go-back-link:link {
  color: blue;
}

/* visited link */
.go-back-link:visited {
  color: #ffdbe2;
}

/* mouse over link */
.go-back-link:hover {
  color: hotpink;
}

/* selected link */
.go-back-link:active {
  color: red;
}

.plus {
  width: 1.5vw;
  filter: invert(65%) sepia(7%) saturate(2424%) hue-rotate(71deg) brightness(105%) contrast(88%);
}

.add-new-btn {
  border: 0.1rem solid var(--label-background);
  border-radius: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}q

#add-new-btn:focus {
  outline: 2px solid #0000ff;
  /* Add custom focus styles */
}

@media (prefers-color-scheme: dark) {
  .dropdown, .cross, .refresh {
    filter: invert();
  }
  .plus {
    filter: invert(26%) sepia(41%) saturate(621%) hue-rotate(71deg) brightness(91%) contrast(93%);
  }
}

button:hover {
  cursor: pointer
}